
<% include partials/header %>
<h1>Hello <%= user %></h1>
<ul>
  <% let num = 1 %>
  <% listings.forEach(function(listing) { %>
    <li class="listing-<%= num %>">
      <span class="listing-<%= num %>-name"><%= listing.name %></span> - <%= listing.description %> - <a href="/listing/<%=listing.id%>" class="listing-<%= num %>">Book Now</a>
    </li>
    <% num++ %> 
  <% }) %>
</ul>
<% include partials/footer %>
